<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>My KubeBoard</title>
  <link rel="icon" type="image/gif" href="{{ url_for('static', filename='img/favicon.gif') }}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type= "text/css" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap">
  <link rel="stylesheet" type= "text/css" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/modern-normalize.min.css') }}">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/kubeboard.css') }}">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/kubeboard-theme.css') }}">
</head>

<body>
  <div id="root">
    <header>
      <div id="logo">
        {% if logo.startswith("img/") %}
        <img src="{{ url_for('static', filename=logo) }}" alt="Logo de KubeBoard" />
        {% else %}
        <img src="{{ logo }}" alt="Logo de KubeBoard" />
        {% endif %}
      </div>
      <div>
        <h1>
          <span>K</span>ube<span>B</span>oard
        </h1>
        <h4>{{ subtitle }}</h4>
      </div>
    </header>
    <section>
      <h2>Applications</h2>
      <div id="app_grid"></div>
    </section>

    {% if bookmarks %}
    <section>
      <h2>Bookmarks</h2>
      <div id="bookmark_grid">

        {% for bookmark_category in bookmarks %}
        <div class="bookmark_category">
          <h3>{{ bookmark_category.categoryName }}</h3>
          <ul>
            {% for bookmark_item in bookmark_category["items"] %}
            <li class="bookmark_item">
              <a href="{{ bookmark_item.link }}" rel="noreferrer">
                <span class="mdi {{ bookmark_item.icon if bookmark_item.icon else default_icon }}" aria-hidden="true"></span>
                {{ bookmark_item.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}

      </div>
    </section>
    {% endif %}
  </div>

  <div id="controls">
    <span id="lastRefresh"></span>
    <a id="automaticRefresh" class="mdi mdi-refresh-auto"></a>
    <span class="mdi mdi-check hidden"></span>
    <a id="refresh" class="mdi mdi-cloud-refresh"></a>
  </div>

  <footer>
    <div>
      <a href="https://github.com/ByTheHugo/kubeboard">GitHub</a> - Apache License 2.0
    </div>
  </footer>

  <script defer type="text/javascript" src="{{ url_for('static', filename='js/kubeboard.js') }}"></script>
</body>

</html>
